<section>
  <div class="case-task__container">
    <h3>Your cases task</h3>
    <ul class="case__list">
      @for (item of tasksCase; track $index) {

      <li class="case-group__item">
        <img
          class="item__img"
          src="assets/images/let`s-start/small-items/calendar.svg"
          alt="name"
        />
        <div class="item__block-info">
          <span>{{ item.projectName }}</span>
          <span>24 task </span>
        </div>
        <mat-card-content class="item__mat-content">
          <mat-progress-spinner
            class="item__spinner"
            [color]="color"
            [mode]="mode"
            [value]="value"
            diameter="50"
          >
          </mat-progress-spinner>
          <span class="item__span">{{ value }}%</span>
        </mat-card-content>
      </li>

      }
    </ul>
  </div>
</section>
