<footer class="footer">
  <div class="footer__container">
    <div class="footer__plus">
      <button routerLink="/addProject" class="plus__btn">+</button>
    </div>
    <ul class="footer__list">
      <li class="list__item">
        <a routerLink="/viewTask" class="item__link"
          ><img
            src="assets/images/footer/home.svg"
            alt="home"
            class="item__img"
        /></a>
      </li>
      <li class="list__item">
        <a routerLink="/todaysTask" class="item__link"
          ><img
            src="assets/images/footer/calendar.svg"
            alt="calendar"
            class="item__img"
        /></a>
      </li>
      <li class="list__item">
        <a routerLink="/allTasks" class="item__link"
          ><img
            src="assets/images/footer/clipboard.svg"
            alt="clipboard"
            class="item__img"
        /></a>
      </li>
      <li class="list__item">
        <a routerLink="/myProfile" class="item__link"
          ><img
            src="assets/images/footer/user.svg"
            alt="user"
            class="item__img"
        /></a>
      </li>
    </ul>
  </div>
</footer>
