<header class="header">
  <div class="header__container">
    <div class="header__array-back">
      <button routerLink="/viewTask" class="array-back__btn">
        <img
          src="assets/images/add-project/arrow-back.svg"
          alt="arrow-back"
          class="array-back__img"
        />
      </button>
    </div>
    <h2>Add Project</h2>
    <div class="header__notification">
      <mat-icon
        [matBadge]="countNotification"
        matBadgeColor="warn"
        mat-raised-button
        aria-hidden="false"
        [matBadgeHidden]="hidden"
        (click)="toggleBadgeVisibility()"
      >
        <img
          (click)="openDialog()"
          src="assets/images/add-project/notification.svg"
          alt="ring"
        />
      </mat-icon>
    </div>
  </div>
</header>
