<section class="calendar">
  <div class="calendar__container">
    <div class="calendar__slide">
      <swiper-container
        class="swiper-conteiner"
        space-between="10"
        slides-per-view="5"
      >
        @for (item of dateForSlider; track $index) {

        <swiper-slide
          [ngClass]="{ 'swiper-slide__in-color': currentDat === item.day }"
          class="swiper-slide"
        >
          <span class="slide__month">{{ item.month }}</span>
          <span class="slide__day">{{ item.day }}</span>
          <span class="slide__week">{{ item.week }} </span>
        </swiper-slide>

        }
      </swiper-container>
    </div>
  </div>
</section>
