<div class="view-task__in-progress">
  <h2>In Progress</h2>
  <swiper-container init="false">
    <swiper-slide>
      <div class="swiper-slide__top">
        <span>Office project</span>
        <img src="assets/images/add-project/work.svg" alt="" />
      </div>
      <div class="swiper-slide__bottom">
        <span>Shoping app design</span>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="swiper-slide__top">
        <span>Office project</span>
        <img src="assets/images/add-project/work.svg" alt="" />
      </div>
      <div class="swiper-slide__bottom">
        <span>Shoping app design</span>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="swiper-slide__top">
        <span>Office project</span>
        <img src="assets/images/add-project/work.svg" alt="" />
      </div>
      <div class="swiper-slide__bottom">
        <span>Shoping app design</span>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
