<div class="view-task__in-progress">
  <h2>In Progress</h2>
  <swiper-container init="false">
    @for (item of inProgressList | async; track i; let i = $index) {
    <swiper-slide>
      <div class="swiper-slide__top">
        <span>{{ item.selectTaskGroup }}</span>
        <img src="assets/images/add-project/work.svg" alt="" />
      </div>
      <div class="swiper-slide__bottom">
        <span>{{ item.projectName }}</span>
        <mat-progress-bar
          mode="determinate"
          [value]="calculateProgress(i)"
        ></mat-progress-bar>
      </div>
    </swiper-slide>
    }
  </swiper-container>
</div>
