<div class="view-task__task-group">
  <h2>Task Group</h2>
  <ul class="task-group__list">
    @for (item of taskList; track $index) {
    <li
      routerLink="/{{ item.task }}"
      [appBgTaskForm]="item.task"
      class="task-group__item"
    >
      <img class="item__img" src="{{ item.icon }}" alt="name" />
      <div class="item__block-info">
        <span>{{ item.task }}</span>
        <span>24 task </span>
      </div>
      <mat-card-content class="item__mat-content">
        <mat-progress-spinner
          class="item__spinner"
          [color]="color"
          [mode]="mode"
          [value]="value"
          diameter="50"
        >
        </mat-progress-spinner>
        <span class="item__span">{{ value }}%</span>
      </mat-card-content>
    </li>
    }
  </ul>
</div>
