@import "../../../../../assets/styles-and-fonts/another.scss";
@import "../../../../../assets/styles-and-fonts/tasks-style.scss";

.daily-group__item {
  background-color: #ffeb3b;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px 20px;
}
