.wrapper {
  min-height: 100vh;
  overflow-y: auto; /* Enables vertical scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  display: flex;
  flex-direction: column;
}

/* Стили для main, чтобы занять оставшееся пространство */
main {
  flex: 1 1 auto;
}
