<section class="sign-in">
  <div class="sign-in__container">
    <h3 class="sign-in__title">Hello Let`s Regist</h3>

    <div class="sign-in-form">
      @if (showLoginForm) {
      <app-login-form></app-login-form>
      <button (click)="toggleLogin()" class="sign-in-form__btn-login btn">
        Register
      </button>
      }@else {
      <app-register-from></app-register-from>
      <button (click)="toggleLogin()" class="sign-in-form__btn-login btn">
        Log`in
      </button>
      }
    </div>
  </div>
</section>
