@import "../../../assets/styles-and-fonts/another.scss";
.sign-in {
  position: relative;
  height: 100vh;
}
.sign-in__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.sign-in__title {
}

.sign-in-form__btn-login {
  margin-top: 10px;
}
