<section class="home">
  <div class="home__container">
    <img
      class="home__girl-bg"
      src="assets/images/let`s-start/1.png"
      alt="girl"
    />

    <div class="home__grid-images">
      <img
        class="grid-images__item-img stopwatch"
        src="assets/images/let`s-start/small-items/stopwatch.svg"
        alt="stopwatch"
      />
      <img
        class="grid-images__item-img calendar"
        src="assets/images/let`s-start/small-items/calendar.svg"
        alt="calendar"
      />
      <img
        class="grid-images__item-img notification"
        src="assets/images/let`s-start/small-items/notification.svg"
        alt="notification"
      />
      <img
        class="grid-images__item-img pie-chart"
        src="assets/images/let`s-start/small-items/pie chart.svg"
        alt="pie chart"
      />
      <img
        class="grid-images__item-img vase"
        src="assets/images/let`s-start/small-items/vase.svg"
        alt="vase"
      />
    </div>

    <div class="home__start-block">
      <h1 class="start-block__title">
        Task Management & <br />
        To-Do List
      </h1>
      <div class="start-block__content">
        <p class="content__text">
          This productive tool is designed to help <br />
          you better manage your task<br />
          project-wise conveniently!
        </p>
        <button routerLink="/myProfile" class="content__btn btn">
          Let’s Start
        </button>
      </div>
    </div>
  </div>
</section>
