<section class="profile">
  <div class="profile__container">
    <h3 class="profile__title">Hello {{ loginName }}</h3>
    <div class="profile__block-info">
      <ul class="block-info__list-profile">
        <li class="list-profile__item">
          Are you ready to complete your tasks?
        </li>

        <li class="list-profile__item">
          So, you have {{ tasksInProgres.length }} taks in progresing.
        </li>
      </ul>
    </div>
    <div class="profile__block-tasks">
      <span class="block-tasks__span">Let's look at your tasks</span>
      <button class="block-tasks__btn btn">See tasks</button>
    </div>
  </div>
</section>
